
/* Common */
.extension-container {
    height:100%; 
    width:100%; 
    background-color:#faebdc;
}
.extension-app {
    border: #353535;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
}
.firefly-logo {
    width: 168;
    height: 112;
}

button {
    width:100px;
}

.row {
    display: flex;
  }
  
.column {
    flex: 50%;
}

ul {
    padding-left: 0;
    list-style-type: none;
}



/* Spinner app */
.selected-person-container{
    background-color: #6dedbd;
    padding: 5px;;
}
#selectedPerson:empty::before {
    content: "\200b";
}
#spinnerButton {
    margin-top: 10px;
}

/* Theme generator app */
#themeLabel {
    width: 300px;
    height: 70px;
}